@charset "utf-8";

/* 
 * content CSS Document
 *
 */

/* 공통 */
[data-subarea]{padding:var(--page-top) 0;}
[data-subarea] .title{display:flex; flex-direction:column; align-items:center; gap:35rem;}
[data-subarea] .title em{font-family:var(--font-eng); font-size:20rem; font-weight:700; color:var(--color-point); text-transform:uppercase;}
[data-subarea] .title h3{font-size:55rem; font-weight:700; letter-spacing:-1rem;}
[data-subarea] .title-mid{font-size:35rem; font-weight:700; letter-spacing:-1rem;}
[data-subarea] .title-mid strong{color:var(--color-point);}
[data-subarea] .title-desc{margin-top:45rem; font-size:22rem; font-weight:300; line-height:1.5; letter-spacing:-1rem; text-align:center;}
#content [data-subarea]:last-child{padding-bottom:calc(var(--page-top) + 40rem);}





/* form active */
.cus_design{max-width:400rem;}
.cus_design > ul > li{display:block; position:relative; margin:3rem 0px;}
.cus_design input[type="text"]{width:100%; height:45rem;}
.cus_design select{width:100%; height:45rem;}
.cus_design label{position:absolute; left:10px; top:50%; width:90%; box-sizing:border-box; padding:0 5rem; background:#fff; transform:translateY(-50%);}
.cus_design .in label{color:#1637a2;}
.cus_design .active label{top:10%; width:auto; font-size:11rem;}
.cus_design [data-form-design="select"] label{top:10%; width:auto; font-size:12rem; font-weight:500;}