@charset "utf-8";

/* 
 * board, member, module Custom CSS Document - 디자인역할에 따라 프로그램관련 UI수정이 가능
 * user write 주석부분에 새로운것을 선언해서 상쇄하고자 할경우 선언한다.
 * 다른부분은 사용할만 부분을 미리 선언을 해둔것이다. 값은 지우고 다시 선언 하면된다.
 *
 */

/* ====================== color change ====================== */
	/* hover-color */
		/* file */
.list_file li > a:hover,
.list_file li > a:focus,
[data-bbs-write="file"] .file > a:hover,
[data-bbs-write="file"] .file > a:focus{color:#511b96;}
		/* board-list */
.bbsList a:hover [data-ul-list="subject"] > i,
.bbsList a:focus [data-ul-list="subject"] > i,
.bbsList a:hover [data-ul-list="subject"] .blog,
.bbsList a:focus [data-ul-list="subject"] .blog{color:#511b96;}
.bbsList > li > div:not([data-ul-list="conts"]) [data-ul-list] a:not(.button):hover,
.bbsList > li > div:not([data-ul-list="conts"]) [data-ul-list] a:not(.button):focus{color:#511b96;}
		/* view perv, next */
[data-bbs-view="page"] ul > li > em a:hover,
[data-bbs-view="page"] ul > li > em a:focus{color:#000;}
		/* area-shop search */
.box_double[data-module="shop"] .map a[data-map]:hover,
.box_double[data-module="shop"] .map a[data-map]:focus,
.box_double[data-module="shop"] .map a[data-map].on{background:#511b96; box-shadow:0 3px 20px rgba(81,27,150,0.4);}
	/* text-color */
.txt_point01{color:#1637a2 !important;}
.txt_point02{color:#d04343 !important;}
.txt_point03{color:#429846 !important;}
[data-bbs-write] .tip i{color:#d1597f;}
.box_privacy .agree label strong{color:#511b96;}
	/* bbs-title-em */
.bbsTitle em{border-color:#511b96; color:#511b96;}
.bbsTitle .reply,
.bbsTitle .point{background:#511b96; border-color:#511b96;}
	/* bbs-color */
[data-ul-list].notice:before{background:#511b96;}
.photoList [data-ul-list="cate"]{color:#511b96;}
.bbsList.faq > li.active > a [data-ul-list="subject"] > i{color:#511b96;}
[data-bbs-view="comment"] .write .btn_submit,
[data-bbs-view="comment"] .write input[type="submit"]{background:#511b96;}
[data-bbs-view="comment"] .list .name i.name_my{border-color:#511b96; color:#511b96;}
[data-bbs-view="util"] [data-bbs-util="state"]{color:#511b96;}
	/* datapicker-color */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background:#1976d2 !important; border-radius:100%;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#f3d5a9 !important; border-radius:100%; color:#333 !important;}
	/* tooltip */
[data-tooltip="explan"]:before{background-color:#511b96;}
	/* reponsive */
@media screen and (max-width:768px){
	[data-list="schedule"] .bbsList > li > div:not([data-ul-list="conts"]) [data-ul-list="default"] strong{color:#511b96;}
}


/* ====================== thumbnail size change ====================== */
	/* bbs-photo */
.photoList [data-ul-list="thum"]{/* padding-top:60%; */}
	/* module-product */
.photoList.product [data-ul-list="thum"]{/* padding-top:60%; */}
	/* responsive */
@media screen and (max-width:380px){
	.photoList [data-ul-list="thum"]{/* padding-top:50%; */}
}


/* ====================== user write ====================== */
