@charset "utf-8";

/*
 * custom_layout.css
 * 디자이너 커스텀요소
 */
 
:root{
	--page-pad:70rem;
	--page-top:160rem;
	
	/* height */
	--higMob100:calc(var(--vh, 1vh) * 100);
}
@media (max-width:1600px){
	:root{
		--page-pad:40rem;
	}
}
@media (max-width:1024px){
	:root{
		--page-pad:20rem;
		--page-top:130rem;
	}
}
@media (max-width:480px){
	:root{
		--page-top:100rem;
	}
}
 
/* custom selection */
::selection{background:#9cbcec; color:#fff; text-shadow:none;}
::-moz-selection{background:#9cbcec; color:#fff; text-shadow:none;}
::-webkit-selection{background:#9cbcec; color:#fff; text-shadow:none;} 
@media (min-width:1025px){
	::-webkit-scrollbar {width:18rem;}
	::-webkit-scrollbar-thumb {border:5px solid #f7f7f7; border-radius:20rem; background:#c5c5c5;}
	::-webkit-scrollbar-track {background:#f7f7f7;}
	/* transparent scroll */
	.overlay-scroll{overflow:overlay;}
	.overlay-scroll::-webkit-scrollbar{width:8rem;}
	.overlay-scroll::-webkit-scrollbar-thumb{background-color:hsla(0, 0%, 42%, 0.30); border-width:0rem;}
	.overlay-scroll::-webkit-scrollbar-track{background-color:transparent;}
}

/* tab scroll mob  */
.scroll_control .inner ul{display:flex;}
.scroll_control .inner ul li{flex:none; white-space:nowrap;}
.scroll_control .inner ul li:first-child{padding-left:0 !important;}
.scroll_control.full{--sizeBg:40rem; position:relative; mask:linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);}
.scroll_control.full .inner{position:relative; overflow-x:auto; overflow-y:hidden; width:100%;}
.scroll_control.full .inner > ul{flex-wrap:nowrap; justify-content:flex-start; margin:0; padding-right:var(--sizeBg);}
.scroll_control.full .inner > ul > li:last-child{padding-right:var(--sizeBg);}

/* content tab */
.tab-area{padding-top:55rem;}
.tab-area .tab{display:table;}
.tab-area .tab li{display:table-cell; padding-left:60rem;}
.tab-area .tab li:first-child{padding-left:0;}
.tab-area .tab li a{display:inline-block; position:relative; font-size:20rem; transition:color 0.3s;}
.tab-area .tab li a:before{--sizeWid:7rem; content:''; display:block; position:absolute; top:0; left:50%; width:var(--sizeWid); height:var(--sizeWid); margin-left:calc(var(--sizeWid) / 2 * -1); background-color:var(--color-point); border-radius:100%; transform:scale(0); transition:transform 0.3s;}
.tab-area .tab li a.on{color:var(--color-point); font-weight:600;}
.tab-area .tab li a.on:before{transform:scale(1);}

/* word */
.wordAni{opacity:0;}
.wordAni.active{opacity:1;}
.wordAni > span{display:inline-block;}
.wordAni .word{display:inline-block;}
	/* motion rail */
[data-motion-rail]{position:absolute; left:0; top:0; text-transform:uppercase; font-size:200rem; letter-spacing:2rem; white-space:nowrap;}
[data-motion-rail]	.eocjs-newsticker-container{position:relative; width:100%; padding-top:30%;}
[data-motion-rail].eocjs-newsticker .eocjs-newsticker-one,
[data-motion-rail].eocjs-newsticker .eocjs-newsticker-two{position:absolute; left:0; top:0; white-space:nowrap;}

/* hide show */
/*
	--aniEase:(transition-timing-function)
	--aniSize:(모션기초세팅사이즈)
	--aniDelay:(transition-delay)
	--aniTime:(transition-duration)
*/
[data-motion="hide_show"]{opacity:0; transition:opacity 0.7s var(--aniEase, ease) 0s;}
[data-motion="hide_show"].motion__in,
.motion__in [data-motion="hide_show"]{opacity:1;}
[data-motion="hide_showDown"]{opacity:0; transform:translateY(var(--aniSize, -30rem)); transition:var(--aniTime, 1s) var(--aniEase, ease) 0s; transition-property:opacity, transform;}
[data-motion="hide_showDown"].motion__in,
.motion__in [data-motion="hide_showDown"]{opacity:1; transform:translateY(0); transition-delay:var(--aniDelay, 0s);}
[data-motion="hide_showUp"]{opacity:0; transform:translateY(var(--aniSize, 30rem)); transition:var(--aniTime, 1s) var(--aniEase, ease) 0s; transition-property:opacity, transform;}
[data-motion="hide_showUp"].motion__in,
.motion__in [data-motion="hide_showUp"]{opacity:1; transform:translateY(0rem); transition-delay:var(--aniDelay, 0s);}
[data-motion="hide_showLeft"]{opacity:0; transform:translateX(var(--aniSize, -30rem)); transition:var(--aniTime, 0.9s) var(--aniEase, ease) 0s; transition-property:opacity, transform;}
[data-motion="hide_showLeft"].motion__in,
.motion__in [data-motion="hide_showLeft"]{opacity:1; transform:translateX(0rem); transition-delay:var(--aniDelay, 0s);}
[data-motion="hide_showRight"]{opacity:0; transform:translateX(var(--aniSize, 30rem)); transition:var(--aniTime, 0.9s) var(--aniEase, ease) 0s; transition-property:opacity, transform;}
[data-motion="hide_showRight"].motion__in,
.motion__in [data-motion="hide_showRight"]{opacity:1; transform:translateX(0); transition-delay:var(--aniDelay, 0s);}
[data-motion="hide_overUp"] span{overflow:hidden; display:inline-block;}
[data-motion="hide_overUp"] span i{display:inline-block; transform:translateY(100%); transition:transform var(--aniTime, 0.9s) var(--aniEase, ease) 0s;}
[data-motion="hide_overUp"].motion__in span i{transform:translateY(0%); transition-delay:var(--aniDelay, 0s);}
[data-motion="slide_show_down"]{clip-path:polygon(100% 0, 100% 0, 0 0, 0 0); transition:clip-path var(--aniTime, 1.5s) var(--aniEase, ease) 0s;}
[data-motion="slide_show_down"].motion__in{clip-path:polygon(100% 0, 100% 100%, 0 100%, 0 0); transition-delay:var(--aniDelay, 0.2s);}
[data-motion="slide_show_up"]{clip-path:polygon(100% 100%, 100% 100%, 0 100%, 0 100%); transition:clip-path var(--aniTime, 1.5s) var(--aniEase, ease) 0s;}
[data-motion="slide_show_up"].motion__in{clip-path:polygon(100% 0, 100% 100%, 0 100%, 0 0); transition-delay:var(--aniDelay, 0.2s);}
[data-motion="slide_show_right"]{clip-path:polygon(0 0, 0 0, 0 100%, 0 100%); transition:clip-path var(--aniTime, 1.5s) var(--aniEase, ease) 0s;}
[data-motion="slide_show_right"].motion__in{clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%); transition-delay:var(--aniDelay, 0.2s);}
[data-motion="slide_show_left"]{clip-path:polygon(100% 0, 100% 0, 100% 100%, 100% 100%); transition:clip-path var(--aniTime, 1.5s) var(--aniEase, ease) 0s;}
[data-motion="slide_show_left"].motion__in{clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%); transition-delay:var(--aniDelay, 0.2s);}
/* flow text */
/*
	--aniTime:(animation-duration)	
*/
.flow-text{overflow:hidden; display:flex; white-space:nowrap; transition:0.3s;}
.flow-wrap{padding-right:1.4881vw; line-height:1.1cap; animation:textLoop var(--aniTime, 20s) linear infinite;}
.flow-text.hover:hover .flow-wrap{animation-play-state:paused; cursor:pointer;}
@keyframes textLoop{
    0% {transform: translate3d(0, 0, 0);}
    100%{transform: translate3d(-100%, 0, 0);}
}

/* 이미지 fixed */
.over-bg{position:relative; z-index:-1; height:var(--sizeHig, 600rem); box-sizing:border-box;}
.over-bg .obj-bg{position:absolute; top:0; left:0; width:100%; height:100%;}
.over-bg .obj-bg i{position:fixed; top:0; left:0; display:block; width:100%; height:100%; background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
.ie .over-bg .obj-bg{clip:rect(0,auto,auto,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
	.over-bg .obj-bg{-webkit-mask-image:-webkit-linear-gradient(top, #fff 0%, #fff 100%);}
}
@media (max-width:1024px){
	.over-bg .obj-bg i{height:var(--higMob100);}
}

/* button motion */
	/* size별도선언할것 */
.primary-button{overflow:hidden; display:inline-flex; justify-content:center; align-items:center; position:relative;}
.primary-button:hover,
.primary-button:hover span{color:#fff;}
.primary-button	.round{position:absolute; top:5px; left:10px; z-index:-1; background-color:#373737; border-radius:50%; animation:scale-down 0.2s forwards;}
.primary-button.animate .round{animation:scale-up 0.5s forwards;}
@keyframes scale-up{
    to{transform:scale(600);}
}
@keyframes scale-down{
    from{transform:scale(600);}
    to{ransform:scale(0);}
}

/* img 설정 */
#content img{max-width:100%;}

/* content */
[class*="inr-1"]{padding:0 var(--page-pad); margin:0 auto; box-sizing:content-box;}
.inr-1500{max-width:1500rem;}
.inr-1400{max-width:1400rem;}
.inr-1200{max-width:1200rem;}
.inr-1000{max-width:1000rem;}

/* gird */
[data-grid]{display:grid;}
[data-grid="2"]{grid-template-columns:repeat(2, 1fr);}
[data-grid="3"]{grid-template-columns:repeat(3, 1fr);}
[data-grid="4"]{grid-template-columns:repeat(4, 1fr);}
[data-grid="5"]{grid-template-columns:repeat(5, 1fr);}